/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	background-color: #fff;
	color: #666;
	font-size: 15px;
	line-height: 24px;
	font-family: 'freight-sans-pro', helvetica neue, helvetica, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

.padding {
	padding: 20px;
}

header.header {
	padding: 20px;
	/*margin-bottom: 35px;*/
	margin-bottom: 0px;
	border-bottom: 1px solid #666;
}

.home header.header {
	border-bottom: 0 none;
}

.menu {
	float: right;
	margin: 20px 20px 25px;
	text-transform: uppercase;
	font-size: 20px;
}

.menu ul {
	margin: 0;
}

.menu ul li {
	display: inline-block;
	margin: 0 50px 0 0;
	zoom:1;
	*display: inline;
}

.menu ul li:last-child {
	margin-right: 0;
}

.menu a:link, .menu a:visited {
	color: #222;
}

.menu a:hover {
	color: #0099ff;
}

footer {
	font-size: 14px;
	color: #666;
	padding: 10px 0px;
	margin-top: 25px;
	border-top: 1px solid #666;
}

footer p { 
	margin: 0;
}

footer .copyright {
	float: left;
	margin-right: 12px;
}

footer .credits {
	float: right;
}

h1,h2,h3,h4,h5,h6 {
	color: #666;
  font-family: 'museo-sans';
	font-size: 28px;
	line-height: 32px;
	text-transform: capitalize;
}

h1 {
	font-weight: 100;
}

h3,h4,h5,h6 {
	color: #888;
  font-family: 'museo-sans';
	font-size: 20px;
	text-transform: capitalize;
}

a:link, a:visited { 
	color: #222;
	-moz-transition: color 0.4s ease;
	-webkit-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

a:hover { 
	text-decoration: none;
	color: #0099ff;
}

/* #Page Styles
================================================== */
/*** HOMEPAGE ***/
body.home {
	background: #eee url('img/juliana_bg.jpg') 0 0 fixed no-repeat;
}

.home .logo {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 20px;
	margin: 20px 0;
	max-width: 100%;
	height: auto;
}

.home .menu {
	float: none;
}

.home .menu a:hover {
	color: #0099ff;
	
}
	
.home footer {
	border-top: 0 none;
	color: #000;
	margin-top: 50px;
}

.home footer .copyright, .home footer .credits {
	float: none;
}

/*** BIOGRAPHY ***/
body.bio {}
	
body.bio .one-third.column {
	text-align: justify;
}

body.bio .one-third.column .column-content {
	padding-right: 12px;
}
	
/*** PAINTINGS ***/
.work .logo, .bio .logo, .contact .logo {
	position: relative;
	margin: 10px 0;
	width: 300px;
	height: auto;
	float: left;
}

.row.gallery {
	margin-bottom: 0;
}

.image-block {
	background: #ddd;
	padding-bottom: 10px;
	margin-bottom: 25px !important;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.image-block > img {
	max-width: 100%;
	height: auto;
}

.image-block header {
	margin: 10px 0 0 0;
	padding: 2px 10px;
}

.image-block h3 {
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	color: #666;
	width: 75%;
	float: left;
	margin: 0;
}

.image-block time {
	font-size: 11px;
	line-height: 14px;
	color: #666;
	margin-left: 10px;
	float: right;
}

.image-block:hover {
	background: #0099ff;
}

.image-block:hover h3 {
	color: #fff;
}

.image-block:hover time {
	color: #fff;
}

.follow-instagram { 
	margin-top: 25px;
	font-size: 110%;
	text-align: center;
}

/*** SINGLE WORK PAGE ***/
.painting-wrapper {
	margin: 5px 0;
	padding: 20px 0 20px 20px;
}

.painting-wrapper > img {
	max-width: 100%;
	height: auto;
}

.painting-wrapper header {
	margin: 0;
	padding: 10px 0;
}

.painting-wrapper h3 {
	font-size: 15px;
	line-height: 22px;
	font-weight: 100;
	color: #666;
	text-align: center;
	margin: 15px 0 0 0;
}

.painting-wrapper p {
	font-size: 15px;
	line-height: 22px;
	color: #666;
	text-align: center;
	margin: 0;
}

.painting-wrapper time {
	font-size: 15px;
	line-height: 22px;
	color: #666;
	margin-left: 10px;
	float: right;
}

.fashion-image > img {
	max-width: 90%;
	height: auto;
	float: left;
	margin: 0 0 20px 0;
}

.fashion-copy  p {
	text-align: left;
}

.fashion-copy small p {
	line-height: 130%;
}

/*** CONTACT and FORM ***/

body.contact textarea {
	width: 400px;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #222;
  border: 0 none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 12px;
  font-family: inherit;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #fff;
	background: #0099ff;
  border: 0 none;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	border: 0 none;
	background: #0099ff;
	padding: 9px 12px 7px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.6) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.6) inset;
	box-shadow: 0 1px 4px rgba(0,0,0,.6) inset;
	
}

/* #Media Queries
================================================== */

	/* 990 and larger (devices and browsers) */
	@media only screen and (min-width: 990px) and (max-width: 1200px) {
		.home .logo {
			bottom: 0px;
			right: 10px;
			margin: 20px 0;
			max-width: 100%;
			height: auto;
		}
	}

	/* Tablet Portrait size to 990 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 989px) {
		.home .logo {
			bottom: 0px;
			right: 10px;
			margin: 20px 0;
			max-width: 80%;
			height: auto;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.home .logo {
			bottom: 10px;
			right: 10px;
			margin: 20px 0;
			max-width: 75%;
			height: auto;
		}
		.home .menu {
			position: fixed;
			bottom: 5%;
			right: 0;
			padding: 10px;
			margin: 10px 0;
			font-size: 18px;
		}
		body.bio .one-third.column .column-content {
			padding-right: 0;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.home header.header {}	
				
		.home .logo {
			position: relative;
			margin: 8px 5px;
			max-width: 100%;
			height: auto;
		}		
		.home .menu {
			float: none;
			margin: 10px 20px 40px 0px;
		}
		.work .logo, .bio .logo, .contact .logo {
			margin: 0;
			float: none;
		}		
		.menu {
			float: none;
			margin: 20px 20px 15px 0px;
		}
		footer .copyright, footer .credits {
			float: none;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.padding {
			padding: 10px;
		}
			
		.home header.header {
			padding: 10px;
		}
		header.header {
			padding: 10px;
		}			
		.home .logo {
			position: relative;
			margin: 8px 5px;
			max-width: 70%;
			height: auto;
		}		
		.menu {
			float: none;
			margin: 20px 20px 20px 0px;
			font-size: 18px;
		}
		.menu ul li {
			margin: 0 24px 0 0;
		}
		.painting-wrapper {
			padding: 10px 0 10px 10px;
		}
		footer p {
			padding: 0 10px;
		}
		footer .copyright, footer .credits {
			float: none;
		}
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			width: 100%;
		}
	}

/* #Font-Face
================================================== */

/* #Vegas Full-Screen BG Images
================================================== */
.vegas-loading {
	/* Loading Gif by http://preloaders.net/ */
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	background:#000 url(img/loading.gif) no-repeat center center;
	background:rgba(0, 0, 0, 0.7) url(img/loading.gif) no-repeat center center;
	height:32px;
	left:20px;
	position:fixed;
	top:20px;
	width:32px; 
	z-index:0;
}

.vegas-overlay {
	background:transparent url(img/overlays/01.png);
	opacity:0.5;
	z-index:-1;
}

.vegas-background {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	z-index:-2;
    /* counteracts global img modification by twitter bootstrap library */
    max-width: none !important;
}